/* ./src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(./fonts/font3/Circular\ Std\ Bold/bold.woff) format("woff");
  font-weight: 800;
  font-style: bold;
  font-display: block;
  /* other formats include: 'woff2', 'truetype, 'opentype',
     
    'embedded-opentype', and 'svg' */
}


* {
  /* font-family: "Noto Sans Display", sans-serif; */
  font-family: "MyFont"
}
/* .links-nav .active .home {
  background: #0000ff;
} */

/* .active.test{
  stroke: blue;
}
.active{
  background-color: rgba(255, 255, 255, 0.13);
} */
/* .svg1:active{
  fill: blue;
} */

body{
  overflow-x: hidden;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

